<div class="container">
  <div class="#">
    <h2><%= @question.title %><h2>
      <p><%= @question.body %></p>
  </div>

  <div>
    <% @question.answers.each do |answer| %>
    <!-- <p><% answer.comments.each do |comments| %></p> -->
      <div>
        <h3><%= answer.title %></h3>
        <p><%= answer.body %></p>
      </div>
    <!-- <p><% end %></p> -->
    <% end %>
  </div>
</div>

<%= link_to "Edit Question", edit_question_path(@question) %>
