<div class="container">
  <div class="#">
    <h2><%= @question.title %><h2>
      <p><%= @question.body %></p>
      <p><%= link_to "Add comment", new_question_comment_path(@question)%></p>
  </div>

  <div>
    <% @question.answers.each do |answer| %>
      <div>
        <h3><%= answer.title %></h3>
        <p><%= answer.body %> </p>
        <p><%= link_to "Edit", edit_question_answer_path(@question,answer) %>
           <%= button_to "Delete", question_answer_path(@question,answer), method: 'delete',class: 'btn btn-link', id: 'logout-button' %><%= link_to "Add comment", new_question_answer_comment_path(@question, answer)%>
        </p>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Edit Question", edit_question_path(@question) %>

<div class="table">
  <h2>Your Answer</h2>
<%= form_for @answer, url: question_answers_path(@question) do |f| %>
  <% if @errors %>
    <ul>
      <% @errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
</div>