<% targets = @answer.present? ? [@question, @answer, @comment] : [@question, @comment] %>
<%= form_for targets do |f| %>
  <% if @errors %>
    <ul>
      <% @errors.full_messages.each do |error| %>
      <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>