<div class="container">
  <div id="content-box">
    <h3 id="top_questions">Top Questions</h3>
    <% @questions.each do |question| %>
    <div class="question-container row">
      <div class="col-sm-1 arguments">
        <p><%= question.votes.count %></p>
        <p>votes</p>
      </div>
      <div class="col-sm-1 arguments">
        <p><%= question.answers.count %></p>
        <p>answers</p>
      </div>
      <div class="question diplay col-sm-10">
        <p class="questions"><%= link_to question.title, question_path(question)  %></p>
        <div class="row">
          <div class="col-sm-6">
            <div class="clickable_tag">sample tag</div>
          </div>
          <div class="col-sm-6 asked_when">
            <p>asked <%= distance_of_time_in_words(question.created_at, Time.now) %> ago by <%= link_to question.user.username, user_path(question.user) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>

</div>
