
<head>
  <style>
    body {
      background-color: white;
    }
    h1 {
      color: maroon;
      margin-left: 40px;
    } 
    div.question-container {
      position:relative;
      width: 80%;
      background-color: #D6E4FF;
      margin-bottom: 0.8em;
    }
    div.question {
      position:relative;
      display: inline-block;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }

    div.arguments {
      font-size: 2em;
      border-right: solid;
    }

    div.arguments p{
      margin: auto;
      font-size: 0.6em;
      padding: 0.6em;
    }

    #content-box {
      position: relative;
      width: 45%;
      left: 5em;
      display: inline-block;
    }

    .profile-box {
      position: relative;
      width: 40%;
      left: 5em;
    }

    .profile-info {
      display: inline-block;
      padding: 1em;
    }


  </style>
</head>
<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><%= link_to "All Questions", questions_path %></li>
      <li><%= link_to "Ask a Question", new_question_path %></li>
      <li><%= link_to "Tags" %></li>
    </ul>
  </nav>

  <div id="content-box">
    <h1><%= link_to "Question:", questions_path %>
    <% @questions.each do |question| %></h1>
    <div class="question-container">
      <div class="question arguments">
        <p>Votes: <%= question.votes.count %></p>
      </div>
      <div class="question arguments">
        <p>Answers:<%= question.answers.count %> </p>
      </div>
      <div class="question diplay">
        <p><%= link_to question.title, question_path(question)  %></p>
      </div>
    </div>
  <% end %>
  </div>

</div>