<head>
	<style>
		body {
			background-color: white;
		}
		h1 {
			color: maroon;
			margin-left: 40px;
		}
		div.question-container {
			position:relative;
			width: 80%;
			background-color: #D6E4FF;
			margin-bottom: 0.8em;
		}
		div.question {
			position:relative;
			display: inline-block;
			margin-top: 0.3em;
			margin-bottom: 0.3em;
		}

		div.arguments {
			font-size: 2em;
			border-right: solid;
		}

		div.arguments p{
			margin: auto;
			font-size: 0.6em;
			padding: 0.6em;
		}

		#content-box {
			position: relative;
			width: 45%;
			left: 5em;
			display: inline-block;
		}

		.profile-box {
			position: relative;
			width: 40%;
			left: 5em;
		}

		.profile-info {
			display: inline-block;
			padding: 1em;
		}


	</style>
</head>
<link rel="stylesheet" href="/css/application.css">
<div class="container">

<h3>User Information</h3>
<div class="row top_border_profile">
	<div class="col-sm-2">
		<%= image_tag("user-placeholder.jpg", size: "80x80") %>
	</div>
  <div class="profile_info col-sm-8">
    <p><strong>Username:</strong> <%= @user.username %></p>
    <p><strong>Name:</strong>  <%= @user.name %></p>
    <p><strong>Location:</strong>  <%= @user.location %></p>
  </div>
</div>


<div class="user_profile_question_box">
	<h4>My Top Questions</h4>
	  <% @questions.each do |question| %>
	    <div class="row show_question_wrap">
	      <div class="col-sm-2 show_question_stats_wrap">
	        <p><%= question.votes.count %></p>
	        <p>votes</p>
	        <br>
	        <p><%= question.answers.count %></p>
	        <p>answers</p>
	      </div>
	      <div class="col-sm-10 show_question_text_wrap">
	        <p><%= link_to question.title, question_path(question) %></p>
	        <p><%= question.body %> </p>
	      </div>
	    </div>
	  <% end %>
	</div>


<div class="user_profile_answer_box">
	<h4>My Top Answers</h4>
	  <% @answers.each do |answer| %>
	    <div class="row show_question_wrap">
	      <div class="col-sm-2 show_question_stats_wrap">
	        <p><%= answer.votes.count %></p>
	        <p>votes</p>
	        <br>
	      </div>
	      <div class="col-sm-10 show_question_text_wrap">
	        <p><%= link_to answer.question.title, question_path(answer.question) %></p>
	        <p><%= answer.body %> </p>
	      </div>
	    </div>
	  <% end %>
	</div>
</div>
