<!DOCTYPE html>
<html>
<head>
  <title>Stackoverflow</title>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <p>SEARCH BAR PLACEHOLDER</p>
  <% if current_user %>
    <%= link_to "Logout", session_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_session_path %>
    <%= link_to "Create Account", new_user_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
